# Misc Files
################################################################
*.DS_Store

# For LaTeX Environment
################################################################
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# For Cadence Virtuoso
################################################################

# Log files
*.log
panic*.log.*

# OpenAccess database lock files
*.cdslck*

# Run directories for layout vs. schematic and design rule check
lvsRunDir/*
drcRunDir/*

# Abstract generation tool
abstract.log*
abstract.record*
